@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    height: 3.2rem;
    width: 7rem;
    font-size: 1.4rem;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: #1a1c21;
}

button:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pink{
    background-color: #e68c90;
}

.pink:hover{
    background-color: #edc448;
}

.yellow{
    background-color: #edc448;
}

.yellow:hover{
    background-color: #e68c90;
}