@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@400;700&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo{
    height: 3.5rem;
}

.name{
    font-family: 'Roboto', sans-serif;
    color: #1a1c21;
}